<p></p>
<br />
<h1-h6></h1-h6>
<ol>
  <li>ini isinya akan jadi nomor 1</li>
  <ul>
    <li></li>
  </ul>
  <li>ini isinya akan jadi nomor 2</li>
  <li>ini isinya akan jadi nomor 3</li>
</ol>

<ul>
  <li>ini bentuknya akan bullet</li>
</ul>

<table>
    <tr>
      Ini artinya table row
      <th>ini artinya table header</th>
    </tr>
    <tr>
      <td>Ini anak dari th</td>
    </tr>
</table>
